*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: $primary-font;
  font-style: normal;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
