html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  color: $color-darkest;
  background-color: $color-lightest;
  height: 100%;
  
  position: relative;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

