html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: getColor(white-text);
  color: getColor(black-text);
}

body.modal-open {
  overflow: hidden;
}

p {
  margin: 0;
}

img {
  display: block;
  // min-width: 100%;
  height: auto;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
