.container {
    padding: 0 20px;
  }
  
  @media screen and (min-width: 480px) {
    .container {
      width: 320px;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
      padding: 0 75px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .container {
      width: 1024px;
      padding: 0 71px;
    }
  }