@import './utils/variables';
@import './utils/mixins.scss';
@import './utils/common';
@import 'modern-normalize/modern-normalize.css';
@import './layouts/01header';
@import './layouts/films';
@import './components/film-card.scss';
@import './components/footer';

