p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.movie-cards {
  padding-top: 20px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}

.movie-grid {
  list-style: none;
  display: grid;
  justify-items: center;
  padding: 0;
  margin: 0;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 313px 313px;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 304px 304px 274px;
    align-items: center;
    justify-content: center;
  }
}

.movie-grid__item {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.movie-grid__item:nth-child(2n) {
  @media screen and (min-width: 768px) {
    margin-right: 0px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 30px;
  }
}

.movie-grid__item:nth-child(3n) {
  @media screen and (min-width: 1024px) {
    margin-right: 0px;
  }
}

.movie-grid__item > a {
  text-decoration: none;
  font-size: 12px;
}

.movie-grid > img {
  border-radius: 5px;
}

.movie-grid__title {
  margin-top: 10px;
  font-size: 12px;
  font-style: Roboto;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }
}
.movie-grid__info {
  font-size: 12px;
  line-height: 1.16;
  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }
}
