.footer {
  background-color: #f7f7f7;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) and (max-width: 1023px) {
    width: auto;
  }
}

.section-footer {
  align-items: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-text {
  font-family: Roboto;
  color: #545454;
}

.material-icons {
  color: rgb(255, 107, 8);
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-link {
  color: #545454;
  list-style-type: none;
  font-style: normal;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  margin-left: 5px;
}

// @media for footer

@media screen and (min-width: 320px) {
  .section-footer-text {
    display: column;
  }
  .footer-text {
    font-size: 14px;
  }
  .footer-span {
    display: flex;
    justify-content: center;
    margin-left: 4px;
  }
}

@media screen and (max-width: 767px) {
  .footer-span {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .section-footer-text {
    display: flex;
    justify-content: center;
  }
  .footer-text {
    font-size: 16px;
  }
}
