.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  height: 320px;
  padding-top: 55px;
  background-color: $primary-text-color;
}
.header-home {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(../images/bgiMobile.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/bgiMobile@2x.jpg);
  }

  @include for-size(tablet-landscape) {
    padding-top: 41px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/bgiTablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/bgiTablet@2x.jpg);
    }
  }
  @include for-size(desktop) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/bgiDesktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/bgiDesktop@2x.jpg);
    }
  }
}

.logo-img {
  display: flex;
  justify-content: space-between;
}
.link-logo {
  margin-right: 10px;
}

.icon-logo {
  fill: inherit;
  pointer-events: none;
}

.link-title {
  display: none;
  @media screen and (min-width: 768px) {
    list-style: none;
    display: flex;
    color: $primary-white-color;
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    align-items: center;
    text-align: center;
    margin: 0px;
    margin-top: -42px;
  }
}

.header-box .nav {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  margin: 0 auto;
  padding: 0px;
  .link-nav {
    padding: 2px;
    position: relative;
    text-decoration: none;
    color: $primary-white-color;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16px;
    text-transform: uppercase;
    background-color: transparent;
  }

  .is-active::after {
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    bottom: -6px;
    background-color: $accent-color;
  }
}

.nav-item {
  margin-left: 20px;
  padding-top: 12px;
  padding-bottom: 38px;

  @include for-size(tablet-landscape) {
    margin-left: 40px;
  }
}

.link-logo {
  background-color: inherit;
  width: 24px;
  height: 24px;
}
.error-container-js {
  margin-top: 20px;
  text-align: center;
  color: red;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.is-hidden {
  display: none;
}
// button header check-in

.selected {
  .check-in {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 36px;
    text-decoration: none;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .icon-check-in {
      margin-right: 2px;
      margin-left: 20px;
      fill: #fff;
      @include for-size(tablet-landscape) {
        margin-left: 40px;
      }
    }
    &:hover {
      .icon-check-in {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: $accent-color;
      }
    }
    &:hover .check-in-text {
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: $accent-color;
    }
  }
  .check-in-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16px;
    text-transform: uppercase;
    color: $primary-white-color;
  }
}
