.form-search {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  background: transparent;
  @include for-size(tablet-landscape) {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
}
.search-icon {
  position: absolute;
  left: 95%;
  top: 20%;
}
.material-icons.white {
  margin: 0;
  color: white;
}
.search-input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: $primary-white-color;
  border-bottom: 0.5px solid $primary-white-color;
  padding: 4px;
  margin: 0px;

  &:hover,
  &input:active,
  &:focus {
    background-color: inherit;
    outline: inherit;
    color: $modal-secondary-text-color;
  }
}

.btn-form {
  background-color: inherit;
  border: none;
  margin-left: -15px;
}

.input-search::placeholder {
  color: $primary-white-color;
  font-size: 14px;
  line-height: 1.14;
}
