// backdrop
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
}
.modal-overflow {
  overflow: hidden;
}
.movie-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}

.movie-modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.movie-modal .container {
  width: 100%;
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.close-button {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 100;

  width: 35px;
  height: 35px;

  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 45px;
    height: 45px;
    top: 7px;
    right: 7px;
  }

  @media screen and (min-width: 1024px) {
    top: 40px;
    right: 70px;
  }
}

.close {
  bottom: 0px;
  left: 5px;

  width: 32px;
  height: 32px;
  opacity: 0.5;
  @media screen and (max-width: 767px) {
    bottom: -5px;
    left: 0px;
  }
}

.close:hover {
  opacity: 1;
  transform: scale(1.2);
}

.close:before,
.close:after {
  position: absolute;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: $footer-text-color;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
.film-card {
  position: absolute;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 48px 20px 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 95vh;
  //height: auto;

  width: 280px;
  overflow-y: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 618px;
    padding: 42px 28px 40px;
  }

  @media screen and (min-width: 1024px) {
    width: 882px;
    padding: 50px 30px 40px;
  }
}

// ======= modal window =============================
.movie-modal-full-description {
  width: 240px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
  }
}

.movie-modal-image {
  margin-bottom: 30px;
  width: 240px;
  height: auto;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 0px;
    width: 264px;
  }

  @media screen and (min-width: 1024px) {
    margin-right: 50px;
    width: 396px;
  }
}

.movie-modal-title {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.17;
  }
}

.movie-modal-properties-values {
  display: flex;
  margin-bottom: 20px;
}

.list {
  margin: 0px;
}

.movie-modal-properties {
  list-style: none;
  padding-left: 0px;

  font-size: 12px;
  color: $modal-secondary-text-color;
}

.movie-modal-properties li:not(:last-child) {
  margin-bottom: 10px;
}

.movie-modal-values {
  font-size: 12px;

  list-style: none;
  padding-left: 0px;
  margin-left: 39px;
  line-height: 1.16;
  @media screen and (min-width: 1024px) {
    margin-left: 83px;
  }
}

.modal-original-title {
  text-transform: uppercase;
  line-height: 1.33;
}

.modal-genre {
  line-height: 1.33;
}

.modal-genre-item {
  margin-right: 5px;
}

.movie-modal-values li:not(:last-child) {
  margin-bottom: 10px;
}

.modal-genre {
  display: flex;
}

.about-modal {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.about-modal-description {
  margin-top: 0px;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.66;
}

.modal-vote {
  display: block;
  background-color: $accent-color;
  width: 36px;
  text-align: center;
  border-radius: 5px;
  color: $primary-white-color;
}

.modal-count {
  display: block;
  text-align: center;
  background-color: #f7f7f7;
  width: 36px;
  border-radius: 5px;
}

.modal-line {
  background-color: transparent;
  display: block;
  width: 8px;
  text-align: center;
  color: $modal-secondary-text-color;
}

.modal-vote-count {
  display: flex;
}

.buttons-wrapper.movie-button {
  justify-content: left;
}

// ============= buttons ===============

.buttons-wrapper {
  display: flex;
  justify-content: center;
  &.is-hidden {
    display: none;
  }
}

.button {
  cursor: pointer;
  font-size: 12px;
  border: transparent;
  border-radius: 5px;
  width: 113px;
  height: 44px;

  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  color: $primary-white-color;
  background-color: $accent-color;

  @media screen and (min-width: 768px) {
    width: 125px;
  }
  @media screen and (min-width: 1024px) {
    width: 136px;
  }

  &.noactive {
    border: 1px solid $primary-white-color;
    background-color: transparent;
  }
}

.button:not(:last-child) {
  margin-right: 15px;
}

.modal-light-btn {
  border: 1px solid #000000;
  color: $primary-text-color;
  background-color: transparent;
}

.button:hover,
.button:focus {
  background-color: $accent-color;
}

.header-light-btn:hover,
.header-light-btn:focus {
  background-color: rgba(140, 140, 140, 0.4);
}

.modal-light-btn:hover,
.modal-light-btn:focus {
  background-color: rgba(255, 107, 1, 0.1);
}

.button[disabled] {
  background-color: rgba(255, 107, 1, 0.5);
}

.button.modal-light-btn[disabled] {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.add-watched-button {
  padding: 14px 30px 12px;
  margin-right: 10px;
  color: #000000;
  border: 1px solid #000000;
  text-transform: uppercase;
  align-items: center;
}
.add-queue-button {
  padding: 14px 20px 12px;

  color: #000000;
  border: 1px solid #000000;
  text-transform: uppercase;
}
