        {{#each this}}
        <li class="film item" data-movieId={{id}}>
          <a href="" class="film__link link">
            <img src="{{poster_path}}"  class="film__img" alt="">
            <div class="film__content">
              <h3 class="film__title">{{title}}</h3>
              <p class="film__info">Drama, Comedy | {{release_date}}</p>
            </div>
          </a>
        </li>
        {{/each}}