<div class="modal-footer modal">
    <div class="modal-footer__img-container">

        <img src="" alt="" class="modal-footer__image" />

    </div>

    <div class="modal-footer__info">
        <h2 class="modal-footer__info-title">разрушители стереотипов</h2>
        <ul class="modal-footer__info-team">
            <li>
                <p>Евгений Иванов</p>
                <p>
                </p>
            </li>
            <li>
                <p>Иветта Дашкова</p>
                <p></p>
            </li>
            <li>
                <p>Ирина Проценко</p>
                <p></p>
            </li>
            <li>
                <p>Екатерина Замятина</p>
                <p>

                </p>
            </li>
        </ul>
        <h3>About</h3>
        <p>
            Это про команду, про работу каждого и просто про впечатления про курс
        </p>
    </div>

    <button type="button" class="modal__icon-close closeModalBtn"></button>

</div>