<div class="container header-container header-container--library">
    <div class="header-nav-container header-nav-container--library">
        <div class="logo-container">
            <span class="header__logo"></span>
            <h1 class="header__title">
                Filmoteka
            </h1>
        </div>
        <nav>
            <ul class="site-nav__list">
                <li class="site-nav__item">
                    <button class="site-nav__button js-home" data-request="home">Home</button>
                </li>
                <li class="site-nav__item">
                    <button class="site-nav__button is-active js-library" data-request="library">My library</button>
                </li>
            </ul>
        </nav>
    </div>

    <ul class="library__list">
        <li class="library__item">
            <button class="button button--library" data-request="watched">Watched</button>
        </li>
        <li class="library__item">
            <button class="button button--library is-active" data-request="queue">Queue</button>
        </li>
    </ul>

</div>