
<div class="container header-container">
    <div class="header-nav-container">
        <div class="logo-container">
            {{!-- Откатываемся до этого момента --}}
            {{!-- <svg class="header__logo" width="24" height="24">
                <use class="icon-mobile-close" href="./images/sprite.svg#icon-film"></use>
            </svg> --}}
            <span class="header__logo"></span>
            <h1 class="header__title">
                Filmoteka
            </h1>
        </div>
        <nav>
            <ul class="site-nav__list">
                <li class="site-nav__item">
                    <button class="site-nav__button is-active">Home</button>
                </li>
                <li class="site-nav__item">
                    <button class="site-nav__button">My library</button>
                </li>
            </ul>
        </nav>
    </div>
    <form class="search-form">
        <input class="search-form__input" type="text" name="query" placeholder="Поиск фильмов" autocomplete="off" lang="ru" />
        {{!-- <svg class="search-form__icon" width="12" height="12">
            <use class="icon-mobile-close" href="./src/images/sprite.svg#icon-search"></use>
        </svg> --}}
        <span class="search-form__icon"></span>

    </form>

    <p class="header__error">Search result not successful. Enter the correct movie name and press enter</p>
</div>
