<div class="container header-container header-container--library">
    <div class="header-nav-container">
        <div class="logo-container">
            <svg class="header__logo" width="24" height="24">
                <use class="icon-mobile-close" href="./images/sprite.svg#icon-film"></use>
            </svg>
            <h1 class="header__title">
                Filmoteka
            </h1>
        </div>
        <nav>
            <ul class="site-nav__list">
                <li class="site-nav__item">
                    <button class="site-nav__button">Home</button>
                </li>
                <li class="site-nav__item">
                    <button class="site-nav__button is-active">My library</button>
                </li>
            </ul>
        </nav>
    </div>

    <ul class="library__list">
        <li class="library__item">
            <button class="button button--library">Watched</button>
        </li>
        <li class="library__item">
            <button class="button button--library is-active">Queue</button>
        </li>
    </ul>
    
</div>