<section class="library__container">
      <ul class="library__list" id="my-library">
          {{{movie-cards-markup}}}             
      </ul>
      <div class="library__page-selector">
        {{{page-selector-markup}}}   
      </div>
    </section>