<section class="library__container" id="library__container">
  <ul class="library__list" id="library__list">
    {{{movie-cards-markup}}}
  </ul>
  <div class="library__page-selector">
    {{{page-selector-markup}}}
  </div>
</section>