<li class="library__card-container">
    {{!-- Place card markup || templatehere... --}}
          <article class="library__card">
            <a class="library__card__link" href="">
              <img class="library__card__image" src="./img/card-image-1024.jpg" alt="movie-cover" />
              <h2 class="library__card__title movie-grid__title">Movie Title</h2>
              <p class="library__card__info movie-grid__info">Movie description</p>
            </a>
          </article>
    {{!-- -- --}}
        </li>