{{#with this}}
    <img   src="{{poster_path}}"
                width="240"
                height="356"
                alt="foto"
              />

          <div class="part-two">
            <h1 class="title__text">{{title}}</h1>
            <ul>
                {{#each genres}}
                <li>{{name}}</li>
                {{/each}}
            </ul>

          </div>
{{/with}}