<li class="movie-grid__item">
    <a href="#">
        <img src="{{cover-url}}" alt="movie-cover" />
        <h2 class="movie-grid__title">{{title}}</h2>
        <p class="movie-grid__info">{{genre, year}}}</p>
    </a>
</li>