<li class="movie-grid__item">
    <a href="#">
        <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="Poster" />
        <h2 class="movie-grid__title">{{title}}</h2>
        <p class="movie-grid__info">{{genres, release_date}}}</p>
    </a>
</li>