$primary-font: 'Roboto', sans-serif;
$logo-title-color: #ffffff;
$logo-color: #818181;
$header-text-color: #ffffff;
$error-color: #ff001b;
$accent-color: #ff6b08;
$movie-title-color: #000000;
$footer-bg-color: #f7f7f7;
$footer-text-color: #545454;
