// fonts
$main-font: 'Roboto', sans-serif;

// text colors
$white: #ffffff;
$dark: #000000;
$footer-text-color: #545454;
$accent-color: #ff6b08;
$warning-color: #ff001b;
$popup-popularity: #8c8c8c;

// bg color
$dark-bg: #f7f7f7;
