html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

ul,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  font-style: none;
  text-decoration: none;
}
