{{#each this}}
<li class="team">
    <div class="personal-inf">
        <a class="img-link">
            <img src="{{photo}}" alt="team-photo" class="team-photo"></a>
        <div class="team-description">
            <h3 class="team-name">{{name}}</h3>
            <p class="team-mail">{{email}}</p>
            <a href="{{github}}" target="_blank" aria-label="Github" class="social-link">
                <svg class="" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
            </a>
        </div>
    </div>
</li>
{{/each}}