{{#each this}}
<li class="team">
    <img src="{{photo}}" alt="team-photo" class="team-photo">
    <h3 class="team-name">{{name}}</h3>
    <ul class="team-social-links">
        <li class="social-links">
            <a href="{{github}}" target="_blank" aria-label="Github" class="social-link">
                <svg class="" width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
            </a>
        </li>
        <li class="social-links">
            <a href="mailto:{{gmail}}" target="_blank" aria-label="mail" class="social-link">
                <svg class="icon-gmail" width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-gmail"></use>
                </svg>
            </a>
        </li>
    </ul>
</li>
{{/each}}