.footer {
  padding-top: 28px;
  padding-bottom: 30px;
  background-color: $color-light-gray;

  @media screen and (min-width: $tablet) {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  &-list {
    text-align: center;

    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    color: $color-gray;

    &:first-child {
      @media screen and (max-width: 767px) {
        margin-bottom: 10px;
      }
    }

    &-word {
      text-decoration: underline;
      cursor: pointer;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
  &-svg {
    display: inline-block;
    width: 14px;
    height: 13px;
    margin-right: 10px;
    margin-left: 10px;
    fill: $accent-color;
  }
}
