@media screen and (min-width: $mobile) {
  .gallery {
    li {
      width: 100%;
      padding-top: 20px;
    }
  }

  .move-card {
    width: 100%;
    img {
      width: 100%;
      border-radius: 5px;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        box-shadow: 1px 1px $accent-color, 2px 2px $accent-color,
          3px 3px $accent-color, 4px 4px $accent-color, 5px 5px $accent-color;
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
      }
    }
  }

  .library-move-card {
    img {
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        box-shadow: none;
        -webkit-transform: none;
        transform: none;
      }
    }
  }

  .text-conteiner {
    padding-top: 20px;
  }
  .move-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;
    font-family: Roboto;

    color: #000000;
  }
  .move-info {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    color: #ff6b08;
  }
  .tui-pagination {
    width: 280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pg-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: $tablet) {
  .gallery {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 294px;
      padding-top: 30px;
    }
  }
  .move-title {
    line-height: 1.33;
  }
  .text-conteiner {
    padding-top: 10px;
  }
  .pg-container {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .tui-pagination {
    width: 374px;
  }
}
@media (min-width: $tablet) and (max-width: 1023px) {
  .gallery {
    justify-content: space-between;
  }
}
@media screen and (min-width: $desktop) {
  .gallery {
    li:not(:nth-child(3n + 3)) {
      margin-right: 30px;
    }
    li {
      width: 274px;
    }
  }
}
