<div  class = " backdrop is-hidden " data-modal>
    <div  class = "over-modal">
    
     <div  class = " modal " >
        <button  type = " button " class = "modal-close-btn" data-modal-close >
          <svg  class = "modal-close-img" >
            <use  href = " ./images/icon/sprite.svg#icon-close" >  </use>
          </svg>
        </button>
          <div>
              <ul class="detalis-film list">
                  <li class="detalis-film-img">

                  </li>
                  <li class="detalis-film-about">
                    <ul class = "modal-button list">
                      <li>
                          <button  type ="submit" class = "modal-btn"> add to Watched </button>
                      </li>
                      <li>
                          <button  type = "submit" class = "modal-btn"> add to queue </button>
                      </li>
                  </ul>
                  </li>
              </ul>

          </div>     
        
       
         
    </div>
    
    </div>
</div>