.modal-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    min-width: 130px;
    height: 44px;
    border: 1px solid $white;
    border-radius: 5px;
    padding: 14px 36px 12px 36px;
    cursor: pointer;
    
    &:hover,
    &:focus {
        background-color: $accent-color;
        box-shadow:(0px 8px 43px rgba(255, 107, 1, 0.6));
    }
  }

  @media screen and (min-width: 768px) {
      .modal-btn{
          width: 136px;
          padding: 14px 38px 12px 38px;
      }
  }