.modal-button {
    width: 136px;
    height: 44px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    align-items: center;
    position: relative;
    overflow: hidden;
text-align: center;
color: $color-darkest;
border: 1px solid $color-darkest;
background-color: transparent;
   cursor: pointer;
   transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:last-child) {
        margin-right: 15px;
     }
}
@media screen and (max-width: 1023px) {
    .modal-button{
        width: 125.03px;
        &:not(:last-child) {
            margin-right: 14.94px;
         }
    }
}
@media screen and (max-width: 767px) {
    .modal-button {
        width: 112.58px;
        &:not(:last-child) {
            margin-right: 14.85px;
         }
        &-watched {
            padding: 0 8.28px;
        }
    }
}
.modal-button .mask {
    height: 100px;
    position: absolute;
    transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 200px;
  }
  .modal-button:hover {
color: $color-lightest;
    background-color:$color-accent-2;
    border: none;
    // filter: drop-shadow(0px 8px 23px rgba(255, 107, 1, 0.6));
    box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
   
  }
 
  
  .modal-button:hover .mask {
    background-color: #fff;
    transform: translate3d(100%, -100px, 0) rotate3d(0, 0, 1, 90deg);
  }
