.button {
    width: 136px;
    height: 44px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-lightest;
    border: 1px solid $color-lightest;
    background-color: transparent;
   cursor: pointer;
   transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     &:not(:last-child) {
       margin-right: 15px;
    }
}
@media screen and (max-width: 767px){
    .button{
        width: 129.53px;
        &:not(:last-child) {
            margin-right: 19.94px;
         }
    } 
}
.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
   background-color: yellowgreen;
}
.aktive-button {
    background-color: $color-accent-2;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    border: none;
}