.button {
  width: 136px;
  height: 44px;
  border-radius: 5px;
  @include font(500, 12px, 16px);
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  color: $color-lightest;
  border: 1px solid $color-lightest;
  background-color: transparent;
  cursor: pointer;
  transition: All 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-right: 15px;
  }

  &:active {
    top: 0.3em;
    left: 0.3em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
  }
  &::before {
    content: '';
    height: 100px;
    position: absolute;
    transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 200px;
  }
  &:hover {
    color: $color-lightest;
    background-color: $color-accent-2;
    border: none;
    box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
  }
  &:hover::before {
    background-color: $color-lightest;
    transform: translate3d(100%, -100px, 0) rotate3d(0, 0, 1, 90deg);
  }
}

.active {
  background-color: $color-accent-2;
}

@media screen and (max-width: 767px) {
  .button {
    width: 129.53px;
    &:not(:last-child) {
      margin-right: 19.94px;
    }
  }
}
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  opacity: 1;
}
