body.dark-theme {
    background-color: $color-bg-dark-theme;

    .film__title {
        color: $text-header;
    }

    .pagination__list {
        background-color: $color-bg-dark-theme;
    }

    .pagination__item {
        color: $color-light-background;
    }

    .prev,
    .next {
        background-color: unset;
    }

    .prev {
        background: url('../images/arrow-theme.svg') no-repeat center center;
    }

    .next {
        background: url('../images/arrow-theme.svg') no-repeat center center;
        transform: rotate(180deg);
    }

    .footer {
        color: $color-light-background;
        // opacity: 0.7;
        background-image: linear-gradient( to right, $color-background, $color-background), url(../images/mobile/header.jpg);
    }

    .footer__text:last-child {
        color: $color-accent;
    }

    .modal {
        background-color: $color-bg-dark-theme;
        color: $color-light-background;
    }

    .btn__close {
        background-color: $color-bg-dark-theme;
        stroke: $color-light-background;
    }

    .modal__title {
        color: $color-light-background;
    }

    .film-info__value {
        color: $color-light-background;
    }

    .content-list__item--value {
        color: $color-light-background;
        opacity: 0.7;
    }

    .modal__btn--queue {
        color: $color-light-background;
        background: #333;
        border: 1px solid $color-light-background;
    }

    .lightbox__fourrowel {
        background-color: $color-bg-dark-theme;
        border: 1px solid $color-accent;
    }

    .lightbox__title {
        color: $text-header;
    }

    .lightbox__content {
        background-color: $color-bg-dark-theme;
        opacity: 0.9;
    }

    .comcontent__name {
        color: $text-header;
    }

    .sociallinks__icon {
        fill: $text-header;
    }
}