footer {
  display: flex;
}

.footer {
  height: 76px;
  color: $color-text-footer;
  background-color: $color-bcg-grey;
  font-size: $search-font-size;
  font-style: normal;
  font-weight: $footer-font-weight;
  font-size: $search-font-size;
  line-height: $modal-line-height;
  align-items: center;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-heart {
  margin-right: 10px;
  margin-left: 10px;
  animation-name: beat;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes beat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.6);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.6);
  }
  40% {
    transform: scale(1);
  }
}

.footer-top {
  margin-bottom: 10px;
}

.footer-link {
  color: inherit;
  text-decoration: underline;
}

@media screen and (min-width: $tablet) {
  .footer {
    font-size: $footer-font-size;
    line-height: $footer-desc-line-height;
  }

  .footer-container {
    flex-direction: row;
  }

  .footer-top {
    margin-bottom: 0;
  }
}
