footer {
  background-color: #f7f7f7;

  &-page {
    padding-top: 26px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}
