.form {
  display: block;
  &.is-hidden {
    display: none;
  }
}
.js-buttons {
  display: flex;
  &.is-hidden {
    display: none;
  }
}
.underscore {
  display: block;
  width: 34px;
  height: 3px;
  background-color: $color-orange;
  &.is-hidden {
    display: block;
    opacity: 0;
  }
  &.lib {
    width: 69px;
  }
}
.home {
  background: url('/img/bg-home-mob.jpg'),
    linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));

  &.lib {
    background: url('/img/bg-library-mob.jpg'),
      linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}

::placeholder {
  color: $color-white;
  font-family: $font;
  font-size: 14px;
  line-height: 16px;
}

.route {
  cursor: pointer;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

#home {
  margin-right: 42px;
}
.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  margin: 0 auto 0 0;
}
.home-link {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  font-family: $font;
  font-size: 0;
}
.home-link:hover {
  color: $color-white;
}
.home-link:before {
  position: absolute;
  content: '';
  display: block;
  top: -30px;
  left: -13px;
  width: 48px;
  height: 48px;
  background-image: url('/img/film.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.6;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

@media (min-width: 768px) {
  .home {
    background: url('/img/bg-home-tab.jpg'),
      linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));

    &.lib {
      background: url('/img/bg-library-tab.jpg'),
        linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
    }
  }

  .home-link {
    font-family: $font;

    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    cursor: pointer;
    text-decoration: none;
    position: relative;

    color: $color-white;
    padding-left: 32px;
  }
  .home-link:before {
    top: -5px;
    // left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .home,
  .home-page {
    background: url('/img/bg-home-desk.jpg'),
      linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));

    &.lib {
      background: url('/img/bg-library-desk.jpg'),
        linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
    }
  }
}
.search-form {
  width: 100%;
  max-width: 400px;
  background-color: transparent;
  overflow: hidden;
}
.input__wrapper {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid $color-white;
}
.form__input {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  color: $color-white;
}
.form__button,
.form__input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}
.form__button {
  margin: 0;
  padding: 0;
}
.form__search {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('/img/search.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 70%;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}
.form__warning {
  font-family: $font;

  font-size: 14px;
  line-height: 16px;

  padding-top: 28px;
  width: 100%;
  height: 48px;
  text-align: center;
  color: $color-error-text;
  &.is-hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .search-form {
    padding: 0;
    max-width: 350px;
  }
}

.library__button {
  width: 130px;
  height: 44px;
  border: 1px solid $color-white;
  border-radius: 5px;
  color: $color-white;
  font-family: $font;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
}
.library__button--active {
  border: none;
  outline: none;
}
.js-buttons {
  justify-content: center;
}
.library__button {
  width: 140px;
  margin-right: 20px;
}
.library__button--active {
  background: $color-orange;
}
.none {
  display: none;
}
.page__nav {
  display: flex;
  align-items: baseline;
  padding: 46px 0px 38px 0px;
}
.route {
  cursor: pointer;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.form__warning {
  font-family: $font;

  font-size: 14px;
  line-height: 16px;

  padding-top: 28px;
  width: 100%;
  height: 48px;
  text-align: center;
  color: $color-error-text;
}
#header {
  width: 100%;
  height: 230px;
}
.is-hidden {
  display: none;
}
