.page-header {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  //   background-color: #2f303a;
  text-align: center;
  background-image: url('../images/library-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/library-mobile.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/library-tablet.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/library-tablet.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: url('../images/library-desktop.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/library-desktop.jpg');
    }
  }

  //   .container {
  //     padding-top: 118px;

  //     @media screen and (min-width: 1200px) {
  //       padding-top: 200px;
  //     }
  //   }

  //   &__title {
  //     color: getColor(white-text);
  //     margin-top: 0;
  //     margin-bottom: 30px;
  //     font-weight: 900;
  //     font-size: 26px;
  //     line-height: 1.62;
  //     letter-spacing: 0.06em;
  //     text-transform: uppercase;

  //     @media screen and (min-width: 1200px) {
  //       font-size: 44px;
  //       line-height: 1.5;
  //     }
  //   }
}
