.lightbox {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  @include transition(opacity);

  &__overlay {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }
  &__content {
    position: relative;
    z-index: 100;
    transform: scale(0.95);
    @include transition(transform);
  }
  &__card {
    display: block;
    width: auto;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
    overflow-y: auto; 
  }
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
  height: 100%;
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  @include transition(background-color);
  outline: none;
  background-image: url('./images/close.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  border: 2px solid $color-accent-2;
  border-radius: 50px;
  @include transition(border);
}
