  
  @media screen and (min-width: 768px) {
    .logo {
        font-family: $main-font;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.166;
        color: $white;
      }
  }
