/* modal from Olga (mob) fixed by lekasey*/

.list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-background;
    height: 100%;
    width: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

// класс утилита
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    border: 0;
    padding: 0;
}

//==========не работает свг!!! работает
.btn__close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    background-color: $color-light-background;
    fill: $text-main;
    border: none;
    cursor: pointer;
    font-size: 32px;
    box-sizing: border-box;
}

.btn__cross {
    margin-top: 3px;
    fill: $text-main;
}

.modal {
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 280px;
    padding: 48px 20px 41px;
    margin-left: auto;
    margin-right: auto;
    background-color: $text-header;
    z-index: 10001;
    @include for-size(tablet) {
        top: 50%;
        min-width: 618px;
        padding: 42px 30px 40px 28px;
    }
    @include for-size(desktop) {
        padding: 50px 30px 40.2px;
        min-width: 882px;
    }
}

.modal__content {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.modal__block {
    @include for-size(tablet-plus) {
        width: calc((100% - 32px) / 2);
    }
    @include for-size(tablet) {
        &:not(:last-child) {
            margin-right: 32px;
        }
    }
    @include for-size(desktop) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.modal__image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    @include for-size(mobile) {
        margin-bottom: 30px;
    }
}

.modal__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 21px;
    color: $text-main;
    @include for-size(desktop) {
        font-size: 30px;
        line-height: 1.15;
    }
}

.film-info {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 20px;
    &__names {
        // width: 108px;
        margin-right: 30px;
        @include for-size(desktop) {
            width: 120px;
        }
    }
    &__name {
        display: block;
        width: 73px;
        color: $text-second;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__values {
        width: 100%;
    }
    &__value {
        color: $text-main;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.film-info__rate {
    display: inline-block;
    text-align: center;
    width: 36px;
    border-radius: 5px;
    background-color: $color-accent;
    color: $text-header;
}

.description-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 10px;
}

.description-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
    margin-bottom: 20px;
}

.button-list {
    display: flex;
    @include for-size(mobile-plus) {
        justify-content: center;
    }
}

.modal__btn {
    width: 112.58px;
    height: 44px;
    @include for-size(desktop) {
        width: 136px;
        height: 44px;
        margin-right: 15px;
    }
    &--watched {
        margin-right: 10px;
        color: $text-header;
        background: $color-accent;
        border: none;
    }
    &--queue {
        color: $text-main;
        background: $text-header;
        border: 1px solid $text-main;
    }
}