/* modal from Olga (mob) */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.25;
  height: 988px;
  width: 320px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 958px;
  min-width: 280px;
  padding-left: 20px;
  padding-top: 48px;
  padding-right: 20px;
  padding-bottom: 41px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: #ffffff;
}
.modal-img {
  display: block;
  min-width: 100%;
  height: auto;
}
.content {
  list-style: none;
  padding-inline-start: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.content-list {
  display: flex;
}
.content-list:not(:last-child) {
  margin-bottom: 10px;
}

.content-list-item {
  width: 50%;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #8c8c8c;
}
.content-list-item-show {
  width: 50%;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  color: #000000;
}

.title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 30px;
  margin-bottom: 21px;
}
.middle {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0px;
}
.lorem {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  width: 240px;
  height: 236px;
  margin-bottom: 21px;
  margin-top: 0px;
}

.modal-btn-color {
  width: 112.58px;
  height: 44px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  margin-right: 10px;
  color: #ffffff;
  background: #ff6b01;
  border-radius: 5px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.modal-btn-white {
  width: 112.58px;
  height: 44px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #000000;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.fix {
  display: flex;
}