// .modal-backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow-y: auto;
//   padding: 15px;
//   background-color: rgba(0, 0, 0, 0.2);
//   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &.is-hidden {
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
//     transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }
