p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.movie-cards {
  padding-top: 20px;
  @media screen and (min-width: $tablet) {
    padding-top: 60px;
  }
}

.movie-grid {
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  display: grid;
  @media screen and (min-width: 768px) {
    display: grid;
    width: 617px;
    grid-template-columns: 323px 293px;
  }
  @media screen and (min-width: $desktop) {
    display: grid;
    width: 884px;
    grid-template-columns: 304px 304px 274px;
  }
}

.movie-grid__item {
  margin-bottom: 20px;
  width: 280px;
  @media screen and (min-width: $tablet) {
    width: 293px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    width: 274px;
  }
}

.movie-grid__item:nth-child(2n) {
  @media screen and (min-width: $tablet) {
    margin-right: 0px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.movie-grid__item:nth-child(3n) {
  @media screen and (min-width: $desktop) {
    margin-right: 0px;
  }
}

.movie-grid__item > a {
  text-decoration: none;
  font-size: 12px;
}

.movie-grid > img {
  border-radius: 5px;
}

.movie-grid__title {
  margin-top: 10px;
  font-size: 12px;
  font-style: $font;
  font-weight: 700;
  line-height: 1.16;
  color: $color-black;
  text-transform: uppercase;
   @media screen and (min-width: $tablet) {
    line-height: 1.33;
  }
}
.movie-grid__info {
  margin-top: 3px;
  font-size: 12px;
  font-style: $font;
  font-weight: 500;
  line-height: 1.16;
  color: $color-orange;
  @media screen and (min-width: $tablet) {
    line-height: 1.33;
  }
}
