p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.movie-cards {
  display: block;
  padding-top: 20px;
  &.is-hidden {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 60px;
  }
}

.movie-grid {
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  display: grid;
  @media screen and (min-width: $tablet) {
    display: grid;
    width: 617px;
    grid-template-columns: 323px 293px;
  }
  @media screen and (min-width: $desktop) {
    display: grid;
    width: 884px;
    grid-template-columns: 304px 304px 274px;
  }
}

.movie-grid__item {
  margin-bottom: 20px;
  width: 280px;
  @media screen and (min-width: $tablet) {
    width: 293px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    width: 274px;
  }
}

.movie-grid__item:nth-child(2n) {
  @media screen and (min-width: $tablet) {
    margin-right: 0px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.movie-grid__item:nth-child(3n) {
  @media screen and (min-width: $desktop) {
    margin-right: 0px;
  }
}

.movie-grid__item > a {
  text-decoration: none;
}

.movie-grid > img {
  border-radius: 5px;
}

.movie-grid__title {
  margin-top: 10px;
  font-size: $main-font-size;
  font-style: $font;
  font-weight: $title-font-weigth;
  line-height: $title-line-height;
  color: $color-black;
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    line-height: $main-line-height;
  }
}
.movie-grid__info {
  margin-top: 3px;
  font-size: $main-font-size;
  font-style: $font;
  font-weight: $main-font-weight;
  line-height: $title-line-height;
  color: $color-orange;
  @media screen and (min-width: $tablet) {
    line-height: $main-line-height;
  }
}
