.movies__pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 0px auto;
}
.paginator {
  display: flex;
}
.pagination-next-button__svg {
  fill: black;
}
.page-item {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  border-radius: 5px;
  background-color: inherit;

  color: $color-darkest;
  font-size: 12px;
  cursor: pointer;
}
.active {
  background-color: $color-accent;
  color: $color-lightest;
}
@media screen and (min-width: $bp-tablet) {
  .movies__pagination-container {
    margin-top: 50px;
  }
}
@media screen and (min-width: $bp-desktop) {
  .movies__pagination-container {
    margin-top: 46px;
  }
}
.pagination-prev-button,
.pagination-next-button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  outline: inherit;
  cursor: pointer;

  background-color: $color-light;
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-prev-button {
  background-image: url('./images/arrow-left.svg');
}
.pagination-next-button {
  background-image: url('./images/arrow-right.svg');
}

.hidden {
  display: none;
}