.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: relative;
  transform: scale(1);
  background: $color-lightest;
  padding: 40px;
  margin: 0 auto;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-signin {
  height: 450px;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-darkest;
  margin-top: 0;
  margin-bottom: 12px;
}
.modal__list-input {
  margin-bottom: 10px;
}
.modal__list-item:not(:last-child) {
  margin-bottom: 10px;
}
.modal__label {
  position: relative;
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__field-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $color-accent;
    outline: 0;
  }
}

.modal__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 55px;
  color: $color-lightest;
  cursor: pointer;

  letter-spacing: 0.06em;
  background: $color-accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 20px;
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal__label:hover &,
  .modal__label:focus & {
    fill: $color-accent;
  }
}
.site-nav__signup {
  border: 2px solid $color-accent;
  padding: 15px;
  border-radius: 4px;
  &:hover {
    background: $color-accent;
    padding: 15px;
    border-radius: 4px;
    border: 2px solid $color-accent;
  }
}
.site-nav__signin {
  background: $color-accent;
  padding: 15px;
  border-radius: 4px;
  border: 2px solid $color-accent;
  &:hover {
    border: 2px solid $color-accent;
    padding: 15px;
    border-radius: 4px;
    background: 0;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
  }
  .backdrop {
    padding: 93px 12px;
  }
  .backdrop.is-hidden .modal {
    transform: translateY(150%) scale(0.75);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, 150%) scale(0.75);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    margin: 0;
  }
}
.signin-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signup-now {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.signup-now__button {
  background: 0;
  border: 0;
  padding: 0;
  color: dodgerblue;
  cursor: pointer;
  margin-left: 10px;
}
.google-signin {
  display: block;
  width: 100%;
  background: 0;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 25px;

  &:hover,
  &:focus {
    border: 1px solid $color-accent;
    outline: 0;
  }
}
.divider {
  display: block;
  text-align: center;
}
.signin-wpapper {
  visibility: visible;
  opacity: 1;
}
.signin-wpapper.load {
  visibility: hidden;
  opacity: 0;
}
.signup-wpapper {
  visibility: visible;
  opacity: 1;
}
.signup-wpapper.load {
  visibility: hidden;
  opacity: 0;
}
