.search {
    background-image: url('../images/library-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 336px;
    height: 100px;
    .search__box {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 80px;
      background: #FF6B08;
      box-shadow: 0 0 25px 0 #FF6B08,
      0 20px 25px 0 rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      transition: all 1s;
      z-index: 4;
      &:hover {
        cursor: pointer;
      }
      &::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 22px;
        right: 0;
        bottom: 0;
        left: 22px;
        width: 12px;
        height: 2px;
        background: black;
        transform: rotate(45deg);
        transition: all .5s;
      }
      &::after {
        content: "";
        position: absolute;
        margin: auto;
        top: -5px;
        right: 0;
        bottom: 0;
        left: -5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid black;
        transition: all .5s;
      }
    }
    .search__input {
      //font-family: 'Inconsolata', monospace;
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 50px;
      outline: none;
      border: 2px solid white;
      background: transparent;
      color: white;
      padding: 0 80px 0 20px;
      border-radius: 30px;
      transition: all 1s;
      opacity: 0;
      z-index: 5;
      font-weight: bolder;
      letter-spacing: 0.1em;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        width: 236px;
        opacity: 1;
        cursor: text;
      }
      &:focus ~ .search__box {
        right: -336px;
        background: #FF6B08;
        z-index: 6;
        &::before {
          top: 0;
          left: 0;
          width: 25px;
        }
        &::after {
          top: 0;
          left: 0;
          width: 25px;
          height: 2px;
          border: none;
          background: black;
          border-radius: 0%;
          transform: rotate(-45deg);
        }
      }
      &::placeholder {
        color: white;
        opacity: 0.4;
        font-weight: bolder;
      }
    }
  }
  