.square {
  position: absolute;
  border: 0;
  width: 80px;
  padding: 0px;
  margin-left: calc(50% - 40px);
  background: transparent;
  z-index: 1002;
}

.spin {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: dashed 5px orange;
  animation: spinner 1.5s infinite linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}
