

//стили старые (пускай пока остаются)
.image-container.swiper-container{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    //width: 280px;
    //height: 1796px;
  @media screen and (min-width: 768px) {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 60px;
    //width: 626px;
    //height: 1840px;
    }
    @media screen and (min-width: 1024px) {
      padding-left: 70px;
      padding-right: 70px;
      //height: 1380px;
      //width: 882px;
        }
}
.image-slider.swiper-wrapper {
width: 280px;
 margin-left: auto;
 margin-right: auto;
  @media screen and (min-width: 768px) {
    width: 626px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-direction: row;
    }
    @media screen and (min-width: 1024px) {
      width: 930px;
      }
  // flex-wrap: wrap;
  // display: flex;
  // justify-content: center;
  //flex-direction: row !important;
}
// .image-slider__slide.swiper-slide{
//   height: 439px !important;
//     width: 280px !important;
//     margin-bottom: 10px;
//   @media screen and (min-width: 768px) {
//     width: 293px !important;
//     margin: 10px;
//       }
// @media screen and (min-width: 1024px) {
//     width: 274px !important;
//     margin: 10px;
//       }
// }

 
 

// .swiper-container>.swiper-pagination-bullets {
//   // width: 100%;
//   // height: 50px;
//   //   background-color: purple;
//   //   position: absolute;
//   //       z-index: 1000;
//   //        top: 1390px;
//   //        left: 0;
//           //     position: absolute;
//           //     z-index: 1000;
//           //      top: 1390px;
//           //      left: 0;
//           //      padding-top: 5px;
//           //      padding-bottom: 5px;
//           // width: 300px;
//           //height: 50px !important;
//               // display: flex;
//           //     justify-content: center;
//               //align-items: flex-start;
//               //width: 100px !important;
//               // display: flex;
//               // margin-left: auto;
//               // margin-right: auto;
//               // justify-content: center;
//               background-color: purple;
//               .swiper-pagination-bullet {
//                 background-color: #FF6B08;
//                 width: 20px;
//                 height: 20px;
//                 border-radius: 5px;
//                 padding: 5px;
//                 margin: 5px;
//               }
//             }





