iframe[allow='autoplay; fullscreen'] {
  width: 640px;
  height: 360px;
}

@media screen and (max-width: $bp-tablet) {
  iframe[allow='autoplay; fullscreen'] {
    width: 360px;
    height: 270px;
  }
}
