a {
  text-decoration: none;
}
.film {
  list-style: none;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


 

  @include for-size(mobile) {
    margin-bottom: 20px;
  }

  &:hover, &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__title {
    @include font(500, 12px, 1.3, 1.5);
    text-transform: uppercase;
    color: $text-main;
  }

  &__info {
    @include font(500, 12px, 1.1, 1.5);
    color: $text-accent;
  }

  &__content {
    padding: 10px 0;
  }

  &__img {
    max-height: 400px;
    border-radius: 5px;

    @include for-size(mobile) {
    width: 280px;
  }

   @include for-size(tablet) {
        width: 294px;
    }

   @include for-size(desktop) {
        width: 274px;
    }

  }

  &__item{
    
    width: calc((100% - 60px) / 3);
  }
}
