.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  &__list {
    display: flex;
    max-width: 374px;
    height: 40px;
    background: $color-background;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: $color-light-background;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;

    font-family: 'Roboto';
    color: $text-main;
    line-height: 1.33;
    font-size: 12px;
    font-weight: 500;

    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease;
  }

  &__item.prev {
    background: url('../images/arrow-left2.svg') no-repeat center center;
  }

  &__item.next {
    background: url('../images/arrow-left2.svg') no-repeat center center;
    transform: rotate(180deg);
  }

  &__item.prev,
  &__item.next {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: $color-footer;
  }

  &__item.active,
  &__item:hover {
    color: $text-header;
    background-color: $color-accent;
    height: 40px;
  }

  &__item.active {
    width: 40px;
  }
}
