.preloader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 480px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f7f7f7;
  z-index: 1001;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
