footer {
  background-color: $dark-bg;
}

.footer-hart {
  width: 14px;
  height: 13px;
  fill: $accent-color;
}

.footer-page {
  padding-top: 26px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .copyright {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer-page {
    padding: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 1.19;
  }
}
