.header {
  width: 100%;
  height: 230px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 46px;
  padding-bottom: 43px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.header-list {
  display: flex;
  align-items: flex-start;
}
.header-list-item {
  position: relative;
  .current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 3px;
    background: $accent-color;
  }
}
.header-list-link {
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  text-transform: uppercase;
  color: $white;
}
.header-list-item:not(:last-child) {
  margin-right: 39px;
}
.logo-icon {
  margin-right: 12px;
  stroke: #818181;
}
.logo-title {
  @extend %visuallyHidden;
}

// HEADER_HOME

.search-form {
  display: flex;
  position: relative;
  padding-top: 25px;
}
.search-form-label {
  position: absolute;
  top: 0;
  left: 0;
  font-family: $main-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.143;
  color: $accent-color;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}
.search-input:placeholder-shown + .search-form-label {
  opacity: 0;
  transform: translateY(20px);
}
.search-input {
  width: 100%;
  margin: 0 auto;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 20px;
  font-family: $main-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.143;
  color: $white;
  border: 0;
  border-bottom: 0.5px solid $white;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  &::placeholder {
    font-family: $main-font;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.143;
    color: $white;
  }
}
.search-form {
  margin-bottom: 22px;
}
.search-icon {
  position: absolute;
  bottom: 6px;
  right: 0;
  stroke: $white;
}
.error {
  display: block;
  width: 100%;
  color: $warning-color;
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.143;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 1024px;
    padding-bottom: 59px;
  }
  .logo-title {
    clip: unset;
    overflow: visible;
  }
  .search-form {
    width: 336px;
    margin: 0 auto;
  }
  .error {
    margin-top: 22px;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-320@1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 320px),
  screen and (min-resolution: 192dpi) and (max-width: 320px),
  screen and (min-resolution: 2dppx) and (max-width: 320px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-320@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3) and (max-width: 320px),
  screen and (min-resolution: 288dpi) and (max-width: 320px),
  screen and (min-resolution: 3dppx) and (max-width: 320px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-320@3x.jpg);
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-768@1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 321px) and (max-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 321px) and (max-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 321px) and (max-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-768@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 321px) and (max-width: 768px),
  screen and (min-resolution: 288dpi) and (min-width: 321px) and (max-width: 768px),
  screen and (min-resolution: 3dppx) and (min-width: 321px) and (max-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-768@3x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-1024@1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 769px),
  screen and (min-resolution: 192dpi) and (min-width: 769px),
  screen and (min-resolution: 2dppx) and (min-width: 769px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-1024@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 769px),
  screen and (min-resolution: 288dpi) and (min-width: 769px),
  screen and (min-resolution: 3dppx) and (min-width: 769px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-1024@3x.jpg);
  }
}

// HEADER_LIBRARY
.header-library {
  padding-bottom: 65px;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
  margin-top: 49px;
}
@media screen and (min-width: 768px) {
  .button-wrapper {
    margin-top: 45px;
  }
}

@media screen and (max-width: 320px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/my-library-320@1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 320px),
  screen and (min-resolution: 192dpi) and (max-width: 320px),
  screen and (min-resolution: 2dppx) and (max-width: 320px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/my-library-320@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3) and (max-width: 320px),
  screen and (min-resolution: 288dpi) and (max-width: 320px),
  screen and (min-resolution: 3dppx) and (max-width: 320px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/my-library-320@3x.jpg);
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/my-library-768@1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 321px) and (max-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 321px) and (max-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 321px) and (max-width: 768px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/my-library-768@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 321px) and (max-width: 768px),
  screen and (min-resolution: 288dpi) and (min-width: 321px) and (max-width: 768px),
  screen and (min-resolution: 3dppx) and (min-width: 321px) and (max-width: 768px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/my-library-768@3x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/my-library-1024@1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 769px),
  screen and (min-resolution: 192dpi) and (min-width: 769px),
  screen and (min-resolution: 2dppx) and (min-width: 769px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/my-library-1024@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 769px),
  screen and (min-resolution: 288dpi) and (min-width: 769px),
  screen and (min-resolution: 3dppx) and (min-width: 769px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/my-library-1024@3x.jpg);
  }
}
