.modal{
    position: relative;
        background-color: $white;
}
   
    @media screen and (min-width: 480px){
      .modal{
        height: 918px;
        width: 240px;
      }
      .detalis-film{
        padding-top: 48px;
        padding-left: 20px;
        padding-right: 20px;
      } 
      .modal-button{
        justify-content: center;
      }
      .film-title{
        font-size: 20px;
        line-height: 1.17;
      }
      .modal-button .modal-btn{
         width: 113px;
      }
    }
    @media screen and (min-width: 768px) {
      .modal{
          height: 562px;
          width: 576px;
      } 
      .detalis-film{
        display: flex;
        padding-top: 42px;
        padding-left: 30px;
        padding-right: 30px;
      } 
      .modal-button{
        display: flex;
      }
      .film-title{
        font-size: 20px;
        line-height: 1.17;
      }
      .modal-button .modal-btn{
         width: 125px;
      }
      }
    @media screen and (min-width: 1200px){
      .modal{
        width: 832px;
        height: 568px;
      }
      .detalis-film{
        display: flex;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
      }
      .modal-button{
        display: flex;
      }
      .film-title{
        font-size: 30px;
        line-height: 1.16;
      }
      .modal-button .modal-btn{
        width: 136px;
      }
  }


.detalis-film{

height: 478px;
justify-content: space-between;
}
.detalis-film-img{
    height: 478px;
    width: 396px;
    border-radius: 5px;  
}
.detalis-film-about{
  width: 396px;
}
///
.film-title{
font-weight: 500;
text-align: left;
}
.statistics{
 font-size: 12px;
font-weight: 500;
line-height: 1.33;
text-align: left;

}
.statistics-title{
  background: #8C8C8C;

}
.about-title{
font-size: 12px;
font-weight: 500;
line-height: 1.33;
text-align: left;
}
.about{
 
font-size: 12px;
font-weight: 500;
line-height: 1.66;
text-align: left;

}
.rectangle{
  height: 16px;
  width: 36px;
  border-radius: 5px;
  background: $accent-color;
  color: $white;


}
.modal-button .modal-btn{
  
  border: 1px solid $dark;
  background-color: $white;
  
}