.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  overflow-y: auto;
}

.basicLightbox__placeholder {
  max-width: 100%;
  z-index: 1;
  margin-top: 35px;
  margin-bottom: 35px;
}

.team-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // background: white;
  background-image: linear-gradient(
    0deg,
    rgba(180, 58, 151, 1) 0%,
    rgba(29, 195, 253, 1) 50%,
    rgba(159, 252, 69, 1) 77%
  );
  border-radius: 15px;
  width: 240px;

  @media screen and (min-width: 768px) {
    width: 650px;
  }

  @media screen and (min-width: 1024px) {
    width: 800px;
  }
}

.team-card {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
  }
  text-align: center;
  margin: 20px;
  width: calc((100% - 80px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 160px) / 4);
    flex-direction: column;
    font-size: 20px;
  }
}

.team-image {
  margin-bottom: 10px;

  @media screen and (max-width: 768px) {
    width: 75px;
    height: 75px;
  }
  @media screen and (min-width: 768px) {
    width: 100px;
    height: 100px;
  }
  @media screen and (min-width: 1024px) {
    width: 120px;
    height: 120px;
  }

  border-radius: 50%;
  box-shadow: 5px 5px 11px -2px rgb(94, 92, 92);

  transform: scale(1);
  transition: 0.5s;

  &:hover,
  &:focus {
    transform: scale(1.2);
    transition: 0.5s;
  }
}

.team-card-image {
  display: flex;
  justify-content: center;
}

.team-name {
  // @media screen and (max-width: 768px) {
  //   font-size: 15px;
  // }
  // @media screen and (min-width: 768px) {
  //   font-size: 17px;
  // }
  // @media screen and (min-width: 1024px) {
  //   font-size: 20px;
  // }

  margin-bottom: 5px;
  font-weight: 900;
  display: block;
}

.team-role {
  font-weight: 500;
  color: $accent-color;
  text-decoration: underline;
}

.team-modal {
  cursor: pointer;
  text-decoration: underline;
}
