.header {
  // position: fixed;
  // left: 0;
  // top: 0;
  width: 100%;
  font-family: 'Roboto';
  font-weight: 500;
  color: $text-header;
}

.header-container {
  // width: 100%;
  padding: 46px 20px 97px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      $color-background,
      $color-background
    ),
    url(../images/mobile/header.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          to right,
          $color-background,
          $color-background
        ),
        url(../images/mobile/header@2x.jpg);
    }
  }

  @include for-size(tablet) {
    padding: 40px 75px 97px 70px;
    background-image: linear-gradient(
        to right,
        $color-background,
        $color-background
      ),
      url(../images/tablet/header.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            $color-background,
            $color-background
          ),
          url(../images/tablet/header@2x.jpg);
      }
    }
  }

  @include for-size(desktop) {
    padding: 40px 70px 97px;
    background-image: linear-gradient(
        to right,
        $color-background,
        $color-background
      ),
      url(../images/desktop/header.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            $color-background,
            $color-background
          ),
          url(../images/desktop/header@2x.jpg);
      }
    }
  }

  // library

  &--library {
    padding: 46px 20px 65px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        to right,
        $color-background,
        $color-background
      ),
      url(../images/mobile/headerLib.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            $color-background,
            $color-background
          ),
          url(../images/mobile/headerLib@2x.jpg);
      }
    }

    @include for-size(tablet) {
      padding: 40px 75px 65px 70px;
      background-image: linear-gradient(
          to right,
          $color-background,
          $color-background
        ),
        url(../images/tablet/headerLib.jpg);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        & {
          background-image: linear-gradient(
              to right,
              $color-background,
              $color-background
            ),
            url(../images/tablet/headerLib@2x.jpg);
        }
      }
    }

    @include for-size(desktop) {
      padding: 40px 70px 65px;
      background-image: linear-gradient(
          to right,
          $color-background,
          $color-background
        ),
        url(../images/desktop/headerLib.jpg);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        & {
          background-image: linear-gradient(
              to right,
              $color-background,
              $color-background
            ),
            url(../images/desktop/headerLib@2x.jpg);
        }
      }
    }
  }
}

.header-nav-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 27px;

  &--library {
    margin-bottom: 43px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 24px;
  height: 24px;
  background-image: url(../images/film.svg);
  cursor: pointer;
}

@include for-size(tablet-plus) {
  .header__logo {
    margin-right: 10px;
  }
}
// Уточнить.   можно заголовок дисплей-нан прятать или лучше из-хидден?
.header__title {
  display: none;
  font-size: 30px;
  line-height: 1.17;
  font-weight: 500;
  color: $text-header;
  cursor: pointer;

  @include for-size(tablet-plus) {
    display: block;
  }
}

.site-nav__list {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 39px;
}

.site-nav__button {
  padding: 3px 0;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 12px;
  line-height: 1.17;
  cursor: pointer;
  outline: none;
  opacity: 0.7;
  transition: 0.5s;
  position: relative;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &.is-active {
    opacity: 1;
    // Пока что не получилось сделать подчеркивание псевдо элементом :(
    // &::after {
    //   position: absolute;
    //   display: inline-block;
    //   bottom: -3px;
    //   left: 0;
    //   content: ' ';
    //   width: 100%;
    //   height: 30px;
    //   color: white;
    // }
    border-bottom: 3px solid $text-accent;
  }
}

.search-form {
  max-width: 336px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  &__input {
    width: 100%;
    padding: 4px 2px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $text-header;
    outline: none;
    color: $text-header;

    &::placeholder {
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      color: $text-header;
    }
  }

  &__button {
    position: absolute;
    top: 8px;
    right: 5px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-image: url(../images/search.svg);
  }
}

.error-container {
  position: relative;
  max-width: 336px;
  margin-right: auto;
  margin-left: auto;

  @include for-size(tablet-plus) {
    max-width: none;
  }
}

.header__error {
  display: none;
  position: absolute;
  top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: $text-error;
  text-align: left;

  @include for-size(tablet-plus) {
    position: static;
    max-width: inherit;
    margin-top: 22px;
    margin-bottom: -37px;
    text-align: center;
  }
}

.library__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.library__item:not(:last-child) {
  margin-right: 20px;

  @include for-size(tablet-plus) {
    margin-right: 15px;
  }
}
