.header {
  font-family: 'Roboto';
  font-weight: 500;
  color: $text-header;
}

.header-container {
  padding: 47px 20px 97px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  //   color: $text-header;
  @include for-size(mobile) {
    background: url(../images/mobile/header.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background: url(../images/mobile/header@2x.jpg);
      }
    }
  }

  @include for-size(tablet) {
    background: url(../images/tablet/header.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background: url(../images/tablet/header@2x.jpg);
      }
    }
  }

  @include for-size(desktop) {
    background: url(../images/desktop/header.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background: url(../images/desktop/header@2x.jpg);
      }
    }
  }
}

.header-nav-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 38px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.header__title {
  display: none;
  color: $text-header;
}

.site-nav__list {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 39px;
}

.site-nav__button {
  padding: 0;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: inherit;

  cursor: pointer;
  // overflow: hidden;
  outline: none;
  font-size: 12px;
  line-height: 1.17;
}

.site-nav__button.is-active {
  border-bottom: 3px solid $text-accent;
}

.search-form {
  max-width: 336px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.search-form__input {
  width: 100%;
  padding: 4px 2px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $text-header;
  outline: none;
  color: $text-header;

  &::placeholder {
    font-family: Roboto;
    font-weight: 400;
    //   font-style: normal;
    font-size: 14px;
    line-height: 1.14;

    color: $text-header;
  }
}

.search-form__icon {
  position: absolute;
  top: 8px;
  right: 0px;
}

.search-form__error {
  display: none;
  margin-top: 22px;
  margin-bottom: -22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
}

@include for-size(tablet-plus) {
  .header__logo {
    margin-right: 10px;
  }
  .header__title {
    display: block;
    font-size: 30px;
    line-height: 1.17;
    font-weight: 500;
  }

  .search-form__error {
    text-align: center;
  }
}
