.page-header {
  max-width: 1600px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;

  //   background-color: #2f303a;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/library-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/library-mobile.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/library-tablet.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/library-tablet.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/library-desktop.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/library-desktop.jpg');
    }
  }
}

.lib__link,
.lib__link--current {
  font-size: 12px;
  line-height: 1.4;
  text-transform: uppercase;
}

.lib__link--current {
  margin-left: 40px;

  &::after {
    content: '';
    position: absolute;
    width: 68px;
    height: 3px;
    right: 70px;
    top: 74px;
    background-color: getColor(accent);
  }
}
