.main-page > .page-header {
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/main-mobile.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/main-mobile.jpg');
  }
  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/main-tablet.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/main-tablet.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/main-desktop.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/main-desktop.jpg');
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  color: getColor(white-text);
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  @media screen and (max-width: $to-tablet) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__container {
    @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
      padding-top: 10px;
    }
  }
}

.logo {
  display: flex;
  cursor: pointer;

  &:hover {
    color: getColor(accent);
  }

  &:hover > .logo__svg {
    color: getColor(accent);
    stroke: getColor(accent);
  }

  &__svg {
    align-self: center;
    padding-right: 20px;
    stroke: getColor(icon-color);
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}

.logo__text {
  @media screen and (max-width: $to-tablet) {
    display: none;
  }
}

.nav__link,
.nav__link--current {
  position: relative;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  text-transform: uppercase;

  cursor: pointer;

  &:hover {
    color: getColor(accent);
  }
}

.nav__link--current {
  margin-right: 40px;

  &::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 3px;
    right: 0px;
    top: 14px;
    background-color: getColor(accent);
  }
}
