@import './scss/utils/normalize';
@import './scss/utils/vars';
@import './scss/utils/reset';

@import './scss/base/container';
@import './scss/base/spinner';

@import './scss/layout/header';
@import './scss/layout/header-library';
@import './scss/layout/gallery';
@import './scss/layout/library-section';
@import './scss/layout/modal';
@import './scss/layout/footer';
@import './scss/layout/team-modal';
@import './scss/layout/pagination';
@import './scss/layout/up-btn';
