:root {  
  --primary-white-color: #FFFFFF; 
   --primary-text-color: #000000; 
    --modal-secondary-text-color: #8C8C8C;  
    --footer-text-color: #545454; 
     --footer-bg-color: #F7F7F7;  
     --accent-color: #FF6B08; 
      --error-color: #FF001B;
    }

      
      html {
  box-sizing: border-box;
}

*,

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}
