.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    padding-right: 70px;
    padding-left: 70px;
    margin-left: auto;
    margin-right: auto;
  }
}
